<a href="https://colab.research.google.com/github/shubham-k01/SDS_Exps/blob/main/STATS_EXP7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import statistics as st
import scipy.stats as stats
import math

**Question 1: Given 11 ages, check whether average age is 30 or not.**

In [ ]:
ages=np.genfromtxt('/content/ages.txt')

In [ ]:
ages

array([32., 34., 22., 29., 22., 39., 38., 37., 38., 36., 30.])

In [ ]:
ages_mean=np.mean(ages)
print(ages_mean)
ages_sd=np.std(ages)
print(ages_sd)

32.45454545454545
5.852173432520394

In [ ]:
from scipy.stats import ttest_1samp
tstats,p=ttest_1samp(ages,30)
print ("t-statistic =",tstats,"p-value =",p)
if p<0.05:
  print("Test is significant . Reject Null hypothesis")
else:
  print("Test is not significant . Fail to reject Null hypothesis")

t-statistic = 1.3263370175675118 p-value = 0.21422150477795807
Test is not significant . Fail to reject Null hypothesis

**Question 2: Test the hypothesis that average score in math is less than 50 from the scores given below. 10,20,35,50,28,40,55,18,16,55,30,25,65,18,43,23,21,20,19,70**

In [ ]:
marks=[10,20,35,50,28,40,55,18,16,55,30,25,65,18,43,23,21,20,19,70]
marks_mean=np.mean(marks)
print(marks_mean)
tstats,pval=ttest_1samp(marks,50)
print ("t-statistic =",tstats,"p-value =",pval)
if p<0.05:
  print("Test is significant . Reject Null hypothesis")
else:
  print("Test is not significant . Fail to reject Null hypothesis")
print(stats.t.ppf(0.05,19))

33.05
t-statistic = -4.284640191237414 p-value = 0.0004001394092999349
Test is not significant . Fail to reject Null hypothesis
-1.7291328115213678

**Question 3: Consider two populations following Poisson distribution with mean age 35 years and 10 years respectively. The size of population 1 is 150000 and that of population 2 is 100000. Combine both of them to make one population. Two samples are taken from Gujarat state with size 30 and 20 and mean value 30 and 10 respectively. Combine both samples to make one sample. Test the hypothesis that mean age of Gujarat is equal to mean age of the country.**

In [ ]:
np.random.seed(6)
p1=stats.poisson.rvs(mu=35,size=150000)
p2=stats.poisson.rvs(mu=10,size=100000)
p=np.concatenate((p1,p2))
print("Size of population = ",p.size)
g1=stats.poisson.rvs(mu=30,size=30)
g2=stats.poisson.rvs(mu=10,size=20)
g=np.concatenate((g1,g2))
print("Size of sample =",g.size)
print("Population mean= ",p.mean())
print("Sample mean =",g.mean())

Size of population =  250000
Size of sample = 50
Population mean=  25.000112
Sample mean = 21.26

10.170172073273882

In [ ]:
p

0.18409481717733314

In [ ]:
tstats,p=ttest_1samp(g,p.mean())
print("t-statistic = ",tstats,"p-value = ",p)
if p<0.05:
  print("Test is significant . Reject Null hypothesis")
else:
  print("Test is not significant . Fail to reject Null hypothesis")
print(stats.t.ppf(0.975,49))

t-statistic =  -2.5742714883655 p-value =  0.013118685425061782
Test is significant . Reject Null hypothesis
2.009575234489209

**Question 4: Check the hypothesis that mean values of temperature for week 1 and week 2 are the same.**

In [ ]:
w1=np.genfromtxt('/content/week1.txt',delimiter=",")
w2=np.genfromtxt('/content/week2.txt',delimiter=",")

In [ ]:
print(np.mean(w1))
print(np.mean(w2))

25.0
28.04

In [ ]:
from scipy.stats import ttest_ind
tstats,p =ttest_ind(w1,w2)
print("t-statistic = ",tstats,"p-value = ",p)
if p<0.05:
  print("Test is significant . Reject Null hypothesis")
else:
  print("Test is not significant . Fail to reject Null hypothesis")
print(stats.t.ppf(0.975,28))

t-statistic =  -3.1146814975012775 p-value =  0.002415039212632959
Test is significant . Reject Null hypothesis
2.048407141795244

**Question 5: Consider patient's data with blood pressure values before and after treatment. Check the effectiveness of treatment.**

In [ ]:
df=pd.read_csv("/content/blood_pressure.csv")
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [ ]:
df[['bp_before','bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

**Ho: mu1=mu2

Ha: mu1>mu2**

In [ ]:
from scipy.stats import ttest_rel
tstats,p =ttest_rel(df['bp_before'],df['bp_after'])
print("t-statistic = ",tstats,"p-value = ",p)
if p<0.05:
  print("Test is significant . Reject Null hypothesis")
else:
  print("Test is not significant . Fail to reject Null hypothesis")

t-statistic =  3.3371870510833657 p-value =  0.0011297914644840823
Test is significant . Reject Null hypothesis

**Question 6. Construct a 95% Confidence Interval for population variance based on the following data:
40.2, 32.8, 38.2, 43.5, 47.6, 36.6, 38.4, 45.5, 44.4, 40.3, 34.6, 55.6, 50.9, 38.9, 37.8, 46.8, 43.6, 39.5, 49.9, 34.2**

In [ ]:
from scipy.stats import chi2
data=[40.2, 32.8, 38.2, 43.5, 47.6, 36.6, 38.4, 45.5, 44.4, 40.3, 34.6, 55.6, 50.9, 38.9, 37.8, 46.8, 43.6, 39.5, 49.9, 34.2]

In [ ]:
s2=st.variance(data)
print(s2)
n=len(data)
alpha=0.05
dof=n-1
chi_l=chi2.ppf(0.975,dof)
chi_u=chi2.ppf(0.025,dof)
L=dof*s2/chi_l
U=dof*s2/chi_u
conf_int=(L,U)
print(conf_int)

36.85292105263158
(21.313726207189386, 78.61721262359482)

**Question 7: Two samples having 21 and 9 observations have variances given as 16 and 8 respectively. Test the hypothesis that the first population variance is greater than the second one at 0.05 and 0.01 level of significance.**

In [ ]:
from scipy.stats import f
n1=21
n2=9
s1_var=16
s2_var=8
d1=n1-1
d2=n2-1
F=(n1*s1_var/d1)/(n2*s2_var/d2)
p=f.sf(F,d1,d2)
print(F,p)
alphas=[0.05,0.01]
for alpha in alphas:
  if p>alpha:
    print("Failed to reject null hypothesis for level of significance ="+str(alpha))
  else:
    print("Reject null hypothesis for level of significance ="+str(alpha))

1.8666666666666667 0.18409481717733314
Failed to reject null hypothesis for level of significance =0.05
Failed to reject null hypothesis for level of significance =0.01

In [ ]:
np.random.seed(0)